<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
	  <li><%= link_to "Accueil", root_path %></li>
	  <% if signed_in? %>
      <li><%= link_to "Liste des poètes", users_path %></li>
      <li><%= link_to "Mon profil", current_user %></li>
      <li><%= link_to "Paramètres", edit_user_path(current_user) %></li>
    <% end %>
    <li><%= link_to "Aide", help_path %></li>
    <% if signed_in? %>
      <li><%= link_to "Déconnexion", signout_path %></li>
    <% else %>
      <li><%= link_to "S'identifier", signin_path %></li>
    <% end %>
    </ul>
  </nav>
</header>